.your-bot-army-container {
    border: 1px solid red;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #fff;
    border-radius: 30px;
  }
  
  .your-bot-army-container h2 {
    font-size: 24px;
    margin-bottom: 8px;
  }
  
  .your-bot-army-container p {
    font-size: 16px;
    margin-bottom: 8px;
  }